<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <title>URL SHORTENER</title>
</head>
<body>
    <h1>Url Shortener</h1>
    <form method="post" action="/">
        <label for="url">Enter and https:// URL:</label>
        <input type="url" name="url" id="url" placeholder="https://www.abc.com" 
        pattern="https://.*" size="50" value="{{old_url}}" required>
        <button type="submit" value="submit">Submit</button>
        <br>
        <label>Generated URL: </label>
        <input name="generated_url" value="{{new_url}}" >
    </form>
</body>
</html>